extends template

block content
    #signup-form-wrapper
        form#signup-form
            input(type='text' name='firstName' placeholder='First name')
            input(type='text' name='lastName' placeholder='Last name')
            input(type='number' name='classYear' placeholder='Class year')
            input(type='email' name='email' placeholder='Email')
            input(type='phone' name='phone' placeholder='Phone number')
            select(name='phoneProvier')
                option(value='verizon') Verizon
                option(value='att') AT&T
                option(value='tmobile') T-Mobile
                option(value='sprint') Sprint
                option(value='other') Other
            button(onclick='return false') Submit
